# Contact Information
VITE_EMAIL=bted4389@gmail.com
VITE_PHONE=+923225522383
VITE_LINKEDIN=https://www.linkedin.com/in/ahmad-hassan-52ab4225b/
VITE_FIVERR=https://www.fiverr.com/ahmadhassan458

# SEO & Meta
VITE_SITE_TITLE=B-Ted Portfolio
VITE_SITE_DESCRIPTION=Designing with Pixels, Coding with Precision.
