body{
    color: black;
    background: linear-gradient(black 70%,rgb(0, 0, 51) );
    background-size: 100vw 120vh;
    background-repeat:repeat;
    font-family: 'Fira Code', monospace;
    color: white;
}

img{
  width: 0vw;
}

pre{
    position:absolute;
    top: -8vw;
    display: inline-block;
    width: 40vw;
    font-family: 'Fira Code', monospace;
    font-size: 1.1vw;
    margin-left: 1.7vw;
}

.rightBox{
    width: 45vw;
    position: absolute;
    padding-top: 4%;
    display: inline-block;
    margin-left: 51vw;

}

.title{
    font-size: 2.2vw;
    margin-bottom: 0.5vw;
    margin-top: 0vw;
}

.firstName,.lastName,.email,.projectType,.estimatedTime,.budget,.projectDescription{
    font-size: 1vw;
    display: block;
    height: 3.5vw;
}

.checkText{
    font-size: 1vw;
}

form{
    display: flex;
    flex-wrap: wrap;
    line-height: 5vw;
}

.firstNameBox,.lastNameBox,.emailBox,.projectTypeBox,.estimatedTimeBox,.budgetBox,.projectDescriptionBox{
    font-size: 1.2vw;
    width:22vw;
}

.projectDescriptionBox{
    width: 80%;
}

.conformBar{
width: 100%;
}

.firstNameField,.lastNameField,.emailField,.projectTypeField,.estimatedTimeField,.budgetField,.projectDescriptionField{
    display: block;
    height: 2vw;
    width: 17vw;
    border-radius: 0.2vw;
    border-width: 0vw;
}

.projectDescriptionField{
    width: 38.8vw;
    height: 9vw;
}

.conformBar{
    padding-top: 1vw;
}
.checkButton{
    width: 1vw;
    transform: scale(1.2);
    border-width: 0vw;
    accent-color:#C30068;
    cursor: pointer; /* Optionally, change the cursor on hover */
}

.submitButton{
        padding-left: 2.5vw;
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
        padding-right: 2.5vw;
        border-width: 0.2vw;
        font-size: 0.9vw;
        border-radius: 1000px 0px;
        border-color: #a8005a;
        border-style:solid;
        font-weight: 700;
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        background-color:#b40060;
        color: #ffffff;
        font-family: 'Noto Sans Miao';
    }
    
    
    
.submitButton:hover{        
    background-color:transparent;
    color: white;
    border-style:solid;
    transition: 600ms;
    transform: scale(1.1);
}

footer{
    position:absolute;
    font-family: 'Noto Sans Miao';
    top: 50vw;
    margin-left: 39vw;
    font-size: 1vw;
    letter-spacing: 90%;
}

.circ {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    transition: all 1s;
}

.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}

.drawn + svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
}

.doneTick{
    width: 25vw;
    /* left:0vw ; */
    position: absolute;
    top: 10vw;
}


.title1{
  display: none;
}



.tab-button1,.tab-button2 {
    display: none;
    background-color: #ccc;
    border: none;
    color: #000;
    padding: 2.6%;
    margin: 5px;
    cursor: pointer;
  }
  
  .tab-button1.active, .tab-button2.active {
    background-color: rgb(141, 0, 87);
    color: #fff;
  }
 

  @media (max-width: 600px) {


    img{
      width: 0vw;
    }

    body{
        color: black;
        background: linear-gradient(black 66%,rgb(0, 0, 61) );
        background-size: 100vw 130vh;
        background-repeat:repeat;
        font-family: 'Fira Code', monospace;
        color: white;
    }


    .tab-button1,.tab-button2 {
      display:inline-block;
      position: absolute;
      left: 38%;
      top: 170vw;
      border-radius: 100vw;
      width: 4vw;
    }
  
    .tab-button2 {
        display:inline-block;
        position: absolute;
        left: 52%;
      }
  
    
    /* pre,
    .rightBox {
      display: none;
      width: 50%;
    } */
  

    .title1{
      left: 5.25vw;
      display: inline-block;
      position: absolute;
      font-size: 7.2vw;
      margin-bottom: 1vw;
      margin-top: 9.9vw;
    }

    pre{

        position: absolute;
        padding-top: 7vw;
        display: inline-block;
        font-family: 'Fira Code', monospace;
        font-size: 2.7vw;
        line-height: 2.2vh;
        left:3vw;

    }
  
    .rightBox {
      display:none;
    }
    
    pre.remove,
    .rightBox.remove {
      display: none;
    }
    
    pre.show {
      position: absolute;
      padding-top: 7vw;
      display: inline-block;
      font-family: 'Fira Code', monospace;
      font-size: 2.7vw;
      line-height: 2.2vh;
      left:3vw;

    }
  
    .rightBox.show {
        width: 86vw;
        position: absolute;
        padding-top: 10%;
        display: inline-block;
        margin-left: 8vw;
        height: 158vw;
      }
      
      .rightBox.show .title {
        font-size: 7.2vw;
        margin-bottom: 1vw;
        margin-top: 0vw;
      }
      

      .title {
        font-size: 7.2vw;
        margin-bottom: 1vw;
        margin-top: 0vw;
      }

      .rightBox.show .firstName,
      .rightBox.show .lastName,
      .rightBox.show .email,
      .rightBox.show .projectType,
      .rightBox.show .estimatedTime,
      .rightBox.show .budget,
      .rightBox.show .projectDescription {
        font-size: 3.2vw;
        display: block;
        height: 5vw;
      }
      
     
      
      .rightBox.show form {
        display: flex;
        flex-wrap: wrap;
        line-height: 5vw;
      }
      
      .rightBox.show .firstNameBox,
      .rightBox.show .lastNameBox,
      .rightBox.show .emailBox,
      .rightBox.show .projectTypeBox,
      .rightBox.show .estimatedTimeBox,
      .rightBox.show .budgetBox,
      .rightBox.show .projectDescriptionBox {
        font-size: 5.2vw;
        margin-top: 4vh;
        width: 50%;
      }
      
      .rightBox.show .projectDescriptionBox {
        width: 80%;
      }
      
      .rightBox.show .conformBar {
        width: 100%;
      }
      
      .rightBox.show .firstNameField,
      .rightBox.show .lastNameField,
      .rightBox.show .emailField,
      .rightBox.show .projectTypeField,
      .rightBox.show .estimatedTimeField,
      .rightBox.show .budgetField,
      .rightBox.show .projectDescriptionField {
        display: block;
        height: 6vw;
        width: 35vw;
        border-radius: 0.8vw;
        margin-top: 1vw;
        border-width: 0vw;
      }
      
      
      .rightBox.show .projectDescriptionField {
        width: 80vw;
        height: 23vw;
      }
      
      .rightBox.show .conformBar {
        padding-top: 6vw;
        width: 78vw;
      }
      
      .rightBox.show .checkText {
        font-size: 3vw;
      }

      .rightBox.show .checkButton {
        width: 2vw;
        transform: scale(1.9);
        border-width: 0vw;
        accent-color: #C30068;
        cursor: pointer;
      }
      .rightBox.show .submitButton {
  padding-left: 4.5vw;
  padding-top: 1.4vw;
  position: absolute;
  padding-bottom: 1.4vw;
  padding-right: 4.5vw;
  border-width: 0.2vw;
  font-size: 3.2vw;
  -webkit-border-radius: 1000px 0;
  border-radius: 1000px 0;
  border-color: #a8005a;
  border-style: solid;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  background-color: #b40060;
  color: #ffffff;
  font-family: 'Noto Sans Miao';
  top: 145vw;
  left: 29.8vw;
}

    
    footer{
        position: absolute;
        font-family: 'Noto Sans Miao';
        /* bottom: 1vw; */
        margin-top: 190vw;
        margin-left: 31vw;
        font-size: 1.7vw;
        letter-spacing: 90%;
    }
    
    .circ {
        opacity: 0;
        stroke-dasharray: 130;
        stroke-dashoffset: 130;
        transition: all 1s;
    }
    
    .tick {
        stroke-dasharray: 50;
        stroke-dashoffset: 50;
        transition: stroke-dashoffset 1s 0.5s ease-out;
    }
    
    .drawn + svg .path {
        opacity: 1;
        stroke-dashoffset: 0;
    }
    
    .doneTick{
        width: 25vw;
        /* left:0vw ; */
        position: absolute;
        top: 10vw;
    }
    
}
