body{
    background-color: white;
    margin: 0px;
    width: 100%;
}
h1,p,button,li,h3,a{
    font-family: 'Noto Sans Miao';
}
img{
    width:0px;
}
.logoBlack{
    padding-top: 0%;
    display: block;
    margin-right: 10vw;
    border-right: 10vw;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
}
.blackLogo1{
    float: left;
    width: 4.5%;
    
}
.BTed1{
    font-size: 1.5vw;
    float:left;
    color: #b40060;
    margin-top: 1.2%;
}
.R1{
    padding-top:2.4%;
    padding-left:0.21%;
    float: left;
    width: 0.9%;
}

button{
    
background-color:white;
    color: #b40060;
    margin: 0px;
    padding-left: 2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    padding-right: 2vw;
    text-align: center;
    border-width: 0.2vw;
    font-size: 0.9vw;
    border-radius: 1000px 0px;
    border-color: #b40060;
    border-style:solid;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}



button:hover{
    
    background-color:#b40060;
    color: #ffffff;
    border-color: #b40060;
    border-style:solid;
    transition: 600ms;
    transform: scale(1.1);
}

.pinkButton1,.pinkButton12,.pinkButton23,.pinkButton6,.pinkButton62{
    background-color:#ca046e;
    color: #ffffff;
}

.pinkButton1:hover,.pinkButton12:hover{
    background-color:white;
    color: #b40060;
}

.pinkButton23:hover{
    background-color:transparent;
    color: white;
}

.pinkButton6:hover,.pinkButton62:hover{
    background-color:transparent;
    color: #ffffff;
}


.pinkButton1{
    padding-left:2.5vw ;
    padding-right: 2.5vw;
}
.buttons1{
    display: block;
    padding-left: 64vw;
}

.midText1{
    padding-top: 6vw;
    /*display:inline-block;*/
    padding-left: 6vw;
    align-self: left;
    width: 52%;
    position: absolute;
    margin-left : 0%;
    border-right: 0%;
}
.im1{
    font-weight: 1000;
    font-size: 2vw;
    color:#b40060;
    margin-bottom: 0%;
}
.AH1{
    width: 100%;
    margin-top: 0%;
    font-size: 6.6vw;
    font-weight: 900;
    padding-left: 4%;
    margin-bottom: 0%;

}
.uI1{
    font-weight: 900;
    margin-top:0%;
    margin-bottom: 2%;
    width: 100%;
    margin-top: 0%;
    font-size: 3vw;
    font-weight: 900;
    padding-left: 17%;
}
.slogen1{
    margin-top:10%;
    margin-bottom: 10%;
    width: 100%;
    margin-top: 0%;
    font-size: 1.1vw;
    font-weight: 900;
    padding-left: 18%;
    color:#ad005c;
}
.pinkButton12{
    margin-left: 39%;
}
.ID1{
    width:35%;
    float:right;
}
.Page1{
    display:inline-block;
}

/*Page 1 completed*/
/*Starting Page No 2*/

.title2{
    display: inline-block;
    color: white;
    font-size: 2.4vw;
    padding-left:33%;
    margin-bottom: 5%;
    margin-top: 0%;
    padding-top: 18%;
}

.description2{
    display: inline-block;
    color: white;
    font-size: 1.2vw;
    width:60%;
    padding-left:11%;
    margin-bottom: 8%;
    text-align: justify ;
}

.pinkButton23{
    display: inline-block;
    margin-left:36%;
}
.Page2{
    border-color: black;
    padding-bottom: 11%;
    background-color: black;
    background: linear-gradient(black,rgb(0, 0, 51));
    background-position: 0%;
    background-origin:border-box ;
    background-position-x: center ;
}
.halfLogo2{
    margin-top: 7%;
    width: 20%;
    float:right;

}
.box2{
    display:inline-block;
    width: 77%;
}

/*Page 3 Starting*/

.title31{
    display: inline-block;
    font-size: 2vw;
    padding-left: 36%;
    margin-bottom: 5%;
    margin-top: 0%;
}

.alnoor3,.PGC3,.air3{
    display:inline-block;
    width:27%;
    align-items: center;
    align-content: center;
    margin-left: 2%;
}

.alnoorLogo3,.PGCLogo3,.airLogo3{
    width:10vw;
    margin-left: 22%;
}

.Page3{
    padding-bottom: 10%;

    background-position: 0%;
    background-origin:border-box ;
    background-position-x: center ;
    bottom: 500%;
}

.alnoorText3,.PGCText3,.airText3{
    font-weight: 900;
    text-align: center;
    font-size:1vw;
}
.logos3{
    margin-left: 3%;
    margin-top: 5%;
    width: 100%;
    display: inline-block;
}
.left3{
    padding-top: 10%;
    float:left;
    width: 62%;
}
.verticleLineBlack3{

    margin-left: 2px;   
    padding-top: 6vw;
    margin-top: 12.5vw;
    border-width: 1px;
    height: 25vw;
    width:0px;
    color: black;
    position: absolute;
    border-style: solid;
    display: inline-block;
}
.verticleLinePink3{
        padding-top: 3.125vw;
        margin-top: 20vw;
        border-width: 3px;
        height: 3.125vw;
        width:0px;
        color:#b40060;
        border-style: solid;
        display:inline-block;
        position: absolute;
}

.right3{
    display: inline-block;
    margin-top: 8%;
    margin-left: 3%;

}
.points3{
    margin-top: 15%;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 200%;
}
.title32{   
    font-size: 2vw;
    padding-left: 22%;
}


/*Page 4 Start*/

.Page4{
    border-color: black;
    background-color: black;
    background-image: url("pinkWallpaper.png");
    background-position: 0%;
    background-origin:border-box ;
    background-position-x: center ;
    bottom: 500%;
    background-repeat: no-repeat;
    background-size: 100vw;
    height:52vw;
    background-position: top;

}

.skills4,.title4,.title42{
    color:white;
}

.title4{
    display:inline-block;
    padding-left:6%;
    font-size:1.88vw;
    padding-top: 5%;
}

.skills4{
    padding-left: 7%;
    font-size: 1vw;
    line-height: 10%;
    font-weight: 500;
}

.line4{
    display:inline-block;
    min-width: 15vw;
}

.whiteLine{
    margin-top: 1%;
    display: inline-block;
    width: 17.5vw;
    height: 0.75vw;
    background: #D9D9D9;
    border:3.125vw;
    border-color: #D9D9D9;
    border-radius: 3px;
    position: absolute;
}

.Line1,.Line2,.Line3,.Line4,.Line5,.Line6,.Line7,.Line8,.Line9,.Line10,.Line11{
    display: inline-block;
    margin-top: 1%;
    width: 12vw;
    height: 0.75vw;
    background:#ED007F;
    border:50px;
    border-radius: 3px;
    position: absolute;
}

.Line1{
    width: 17.5vw;
}

.Line2{
    width: 16.6vw;
}
.Line3{
    width: 16.2vw;
}
.Line4{
    width: 16.52vw;
}
.Line5{
    width: 15vw;
}
.Line6{
    width: 14.3vw;
}
.Line7{
    width: 13.12vw;
}
.Line8{
    width: 15.65vw;
}
.Line9{
    width: 14.37vw;
}
.Line10{
    width: 15.62vw;
}
.Line11{
    width: 15.62vw;
}

.title42{
    display:inline-block;
    padding-left:6%;
    font-size:1.5vw;
    padding-top: 4vw;
}

.circleCpp,.circlePython,.circleJava,.circleCppOver,.circlePythonOver,.circleJavaOver{
    width: 4.375vw;
    height: 4.375vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.38vw;
    border-color: #ED007F;
    border-top-color: transparent;
    transform:rotate(-45deg);
    position: absolute;
}

.circleMid{
    width: 4.375vw;
    height: 4.375vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.38vw;
    border-color:#610034;
    border-top-color: transparent;
    transform:rotate(45deg);
    position: absolute;
}


.circleCppOver{
    transform:rotate(35deg);
}

.circlePythonOver{
    transform:rotate(15deg);
}

.circleJavaOver{
    transform:rotate(-10deg);
}

.cppLogo,.pythonLogo,.javaLogo{
    display: inline-block;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 3.125vw;
}

.pythonLogo{
    width: 2.188vw;
    margin-top: 1.44vw;
    margin-left:1.44vw;
}

.javaLogo{
    width: 3.75vw;
    margin-top: 0.375vw;
    margin-left:0.75vw;
}


.cpp,.python,.java{
    display: inline-block;
    width: 9.375vw;
    margin-top: 4vw;
    position: absolute;
    margin-left: 10%;
}


.cpp{
    margin-left: 5vw;
}

.python{
    margin-left: 11.5vw;
}

.java{
    margin-left: 18vw;
}

/*Starting page 5*/

.heading5,.heading52{
    font-size: 1.7vw;
    margin-left: 20%;
    font-weight: 900;
}
.left5,.right5{
    display:inline-block;
}

.heading52{
  
    margin-left: 6.5%;
    font-weight: 900;
}

.right5{

    margin-left: 10.625vw;
    display: inline-block;
    position: absolute;
}
.topBox5{
    display:inline-block;
    margin-top: 6%;
}


.applications5,.interests5{

    font-size: 1vw;
    line-height: 230%;
    font-weight: 700;
    margin-left: 12%;
    width: 16.25vw;
}

.interests5{
    margin-left: 0px;
}

.verticleLineBlack5{

    margin-left: 5vw;   
    padding-top: 50px;
    margin-top: 2.5vw;
    border-width: 1px;
    height: 25vw;
    width:0px;
    color: black;
    position: absolute;
    border-style: solid;
    display: inline-block;
}

.verticleLinePink5{

        margin-left:4.85vw;
        padding-top: 3.125vw;
        margin-top: 11.12vw;
        border-width: 3px;
        height: 3.13vw;
        width:0px;
        color:#b40060;
        border-style: solid;
        display:inline-block;
        position: absolute;
}
/* 
.linguistic5{
    margin-top: 4.5vw;
    left: 1vw;
} */

.heading53{
    display:inline-block;
    padding-left: 4vw;
    font-size:1.62vw;
    padding-top: 10vw;
}


  .circleEnglish,.circleUrdu,.circlePunjabi,.circleEnglishOver,.circleUrduOver,.circlePunjabiOver{
    width: 4.375vw;
    height: 4.375vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.36vw;
    border-color: #000000;
    border-top-color: transparent;
    transform:rotate(-45deg);
    position: absolute;
}

.circleMid5{
    width: 4.375vw;
    height: 4.375vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.36vw;
    border-color:#ED007F;
    border-top-color: transparent;
    transform:rotate(45deg);
    position: absolute;
}


.circleUrduOver{
    transform:rotate(35deg);
}

.circleEnglishOver{
    transform:rotate(15deg);
}

.circlePunjabiOver{
    transform:rotate(-10deg);
}

.englishText,.urduText,.punjabiText{
    display: inline-block;
    font-weight: 900;
    margin-top: 1.375vw;
    font-size: 1vw;
    margin-left: 1.375vw;
    width: 3.125vw;
    color: #5e0032;
}

.urduText{
    margin-bottom:0px;
    margin-top: 1.65vw;
}

.englishText{
    margin-top: 1.65vw;
    margin-left: 0.89vw;
}

.punjabiText{
    margin-top: 1.65vw;
    margin-left:0.79vw;
}


.Urdu,.English,.Punjabi{
    display: inline-block;
    width: 7.5vw;
    margin-left: 1.25vw;
}

.Urdu{
    margin-left: 3.125vw;
    margin-top:3%;
}

.English{
    margin-left: 0px;
}

.Punjabi{
    margin-left: 0px;
}


.Page5{
    border-color: rgb(255, 255, 255);
    background-color: white;
    height: 52vw;
    background-image: url("whiteArt1.png");
    background-position: 0%;
    background-origin:border-box ;
    background-position-x: center ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

/*footerbox*/
.FooterBox{
    border-color: #0E0E0E;
    background-color: rgb(14, 14, 14);
    height: 31vw;
    font-size: 1vw;
}

.logoPart6{
    display:flex;
    margin-left: 0px;
    align-items: center;
}

.whiteLogo6{
    margin-top: 1.875vw;
    width:4.06vw;
    display: inline-block;

}

.BTed6{
    margin-top: 4.6vw;
    margin-right: 0.25vw;
    margin-left: 0.375vw;
    color: #ED007F;
    display:inline-block;
    font-size: 2.125vw;
    font-weight: 900;
}

.whiteR6{
    margin-top: 3.35vw;
    width: 0.9vw;
}

.text6{
    font-size: 0.9vw;
    width:22vw;
    margin-left: 4vw;
    text-align: justify;
    color: white;
    line-height: 2;
}

.leftBox6{
    margin-left:1vw;
    float: left;
}

.MailLogo,.phone1Logo,.phone2Logo,.locationLogo,.earthLogo{
    width: 2.4vw;
}

.email6,.no6,.no62,.loc6,.site6{
    color:white;
    margin-top: 0;
    margin-bottom: 0;
    font-size:1vw;
    height: 100%;
    /*margin-left:1vw;*/
}

.Mail,.phone1,.phone2,.location,.earth{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:1.5vw;
}

.contactMe6{
    margin-top: 4vw;
    color: white;
    font-size: 2vw;
    font-weight:900;
}

.middleBox6{
    margin-left: 10vw;
    display:inline-block;
    width: 25vw;
    align-items: center;
    display: inline-block;
}

.rightBox6{
    display:inline-block;
    position: absolute;
    margin-top: 2vw;
    width: 22%;
    margin-left: 8vw;
}


.sendLogo6,.globeLogo6{
    display:inline-block;
    position: relative;
    margin-top: 2.8125vw;
    width: 3.75vw;
}

.sendLogo6{
    width:3.125vw;
}

.feedbackText6,.globeText6{
    display: inline-block;
    color: white;
    font-size: 1.8vw;
    position: absolute;
    padding-left: 10px;
    margin-top: 3.12vw;
}

.pinkButton6,.pinkButton62{
    margin-top: 2vw;
   margin-left: 4vw;
}

.pinkButton6{
    margin-bottom:2vw;
    margin-top: 2vw;
}

.pinkButton62{
    margin-top: 2vw;
    margin-left: 4vw;
    margin-bottom:5vw;
}


.rights6{
    font-size: 0.8vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
    margin-left: 42%;
    font-weight: 500;
}


@media screen and (max-width: 600px) {

    body{
        background-color: white;
    }
    
    h1,p,button,li,h3{
        font-family: 'Noto Sans Miao', sans-serif;
    }
    
    img{
        width:0px;
    }
  
    .logoBlack{
        padding-top: 1vw;
        margin-top: 1vw;
        display: inline-block;
        position: absolute;
    }

    .blackLogo1{
        width: 9.2vw;
        display: inline-block;
    }
    
    .BTed1{
        font-size: 4.4vw;
        float:left;
        font-weight: 900;
        color: #b40060;
        margin-top: 1.3vw;
    }

    button:hover{
    
        background-color:#b40060;
        color: #ffffff;
        border-color: #b40060;
        border-style:solid;
        transition: 600ms;
        transform: scale(1.1);
    }
    
    .pinkButton1:hover,.pinkButton12:hover{
        background-color:white;
        color: #b40060;
    }
    
    .pinkButton23:hover{
        background-color:transparent;
        color: white;
    }
    
    .pinkButton6:hover,.pinkButton62:hover{
        background-color:transparent;
        color: #ffffff;
    }
    


    .R1{
        padding-top:5vw;
        padding-left:0.21vw;
        float: left;
        width: 2vw;
    }  

    button{
        background-color:white;
        color: #b40060;
        margin: 0px;
        padding-right: 3.1vw;
        padding-left: 3.1vw;
        padding-top: 1.25vw;
        padding-bottom: 1.25vw;
        text-align: center;
        border-width: 0.38vw;
        font-size:2vw;
        border-radius: 100px 0px;
        border-color: #b40060;
        border-style:solid;
        font-weight: 900;
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        
           -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -webkit-tap-highlight-color: transparent;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
      user-select: none;
    
    }

    
    button:hover{
    background-color:#b40060;
    color: #ffffff;
    border-color: #b40060;
    border-style:solid;
    transition: 600ms;
    transform: scale(1.1);
    }

    
    .pinkButton1{
        padding-left:3.75vw ;
        padding-right: 3.75vw;
    }

    .buttons1{
        margin-top: 3vw; 
        position: absolute;
        padding-left: 38vw;
    }
    
    .im1{
        font-weight: 1000;
        font-size: 5vw;
        color:#b40060;
        margin-bottom: 0%;
    }
    
    .AH1{
        width: 83vw;
        margin-top: 0%;
        font-size: 10.5vw;
        font-weight: 900;
        padding-left: 4vw;
        margin-bottom: 0%;
        display: inline-block;
    }
    
    .uI1{
        font-weight: 900;
        margin-top:0%;
        margin-bottom: 2%;
        width: 100%;
        margin-top: 0%;
        font-size: 5.1vw;
        font-weight: 900;
        padding-left: 12%;
    }
    
    .slogen1{
        margin-top:10%;
        margin-bottom: 6%;
        width: 100%;
        margin-top: 0%;
        font-size: 3vw;
        font-weight: 900;
        padding-left: 12.6%;
        color:#ad005c;
    }
    
    .pinkButton12{
        margin-top: 5%;
        margin-left: 30vw;
       -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
         -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .top1{
        display: inline;
        width:100vw;
    }

    .midText1{
        position:absolute;
        top: 91vw;
        padding-left: 8.8vw;
        display: inline;
        width: 75%;
        border-right: 0%;
    }
    
    .ID1{
        position: absolute;
        margin-top: 8%;
        width:78%;
        padding-left: 12%;
    }

    .page1{
        display: inline;
    }
    /*Page 1 completed*/
    /*Starting Page No 2*/
    
    .title2{
        display: inline-block;
        color: white;
        font-size: 4vw;
        padding-left:32%;
        margin-bottom: 20%;
        margin-top: 20%;
        padding-top: 18%;
    }
    .description2{
        display: inline-block;
        color: rgb(255, 255, 255);
        font-size: 1.7vw;
        width: 40vw;
        letter-spacing: 0.5px;
        line-height: 4;
        padding-left:9vw;
        margin-bottom: 18%;
        text-align: justify ;
    }
    .pinkButton23{
        display: inline-block;
        margin-left:36%;
    }

    .Page2{
        background-image: url(WhiteLogoHalf.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y:42vw ;
        margin-top: 166vw;
        border-color: black;
        height: 160vw;
        background: linear-gradient(black,rgb(0, 0, 51));
        padding-bottom: 15%;
        background-color: black;
    }

    .halfLogo2{
        position: absolute;
        right: 0;
        margin-top: 40vw;
        width: 42vw;
        float: right;
    }
    .box2{
        display:inline-block;
        width: 60%;
    }
    
    /*Page 3 Starting*/
    .title31{
        display: inline-block;
        font-size: 3.67vw;
        padding-left: 17%;
        margin-bottom: 5vw;
        margin-top: 14vw;
    }

    .alnoor3,.PGC3,.air3{
        display:inline;
        width:00px;
        align-items: center;
        align-content: center;
        margin-left: 1%;
    }

    .alnoorLogo3,.PGCLogo3,.airLogo3{
        margin-top: 20%;
        width:18vw;
        margin-left: 9vw;
    }

   /* .PGCLogo3{
        margin-left: 20%;
    } */
    
    button:hover{
    
        background-color:#b40060;
        color: #ffffff;
        border-color: #b40060;
        border-style:solid;
        transition: 600ms;
        transform: scale(1.1);
    }
    
    .pinkButton1:hover,.pinkButton12:hover{
        background-color:white;
        color: #b40060;
    }
    
    .pinkButton23:hover{
        background-color:transparent;
        color: white;
    }
    
    .pinkButton6:hover,.pinkButton62:hover{
        background-color:transparent;
        color: #ffffff;
    }
     
    .Page3{
        padding-bottom: 20%;
        background-position: 0%;
        background-origin:border-box;
        background-position-x: center;
        height: 160vw;
    }
    
    .alnoorText3,.PGCText3,.airText3{

        font-weight: 900;
        text-align: center;
        font-size: 2vw;

    }
    .alnoorText3{
        padding-left: 0%;
    }
    .PGCText3{
        padding-left: 0%;
    }
    .airText3{
        margin-left: 0%;
    }
    .logos3{
        margin-left: 0%;
        margin-top: 5%;
        width: 100%;
        display: inline-block;
    }
    .left3{
        padding-top: 8%;
        float:left;
        padding-right: 0%;
       width: 38vw;

    }
    .verticleLineBlack3{
        margin-left: 2px;   
        padding-top: 4vw;
        margin-top: 47vw;
        border-width: 1px;
      /*border-right: 0px;*/
        height: 91vw;
        width:0px;
        color: black;
        position: absolute;
        border-style: solid;
        display: inline-block;
    }

    .verticleLinePink3{
    
            margin-left: 0.2vw;
            padding-top: 50px;
            margin-top: 60vw;
            border-width: 2px;
            height: 14vw;
            width:0px;
            color:#b40060;
            border-style: solid;
            display:inline-block;
            position: absolute;
    }

    .right3{
        display: inline-block;
        margin-top: 4.6%;
        margin-left: 3%;
        width :55.5vw ;
        letter-spacing:0px;
    }

    .points3{
        margin-top: 40%;
        font-size: 1.7vw;
        font-weight: 900;
        line-height: 400%;
        padding-left: 25px;
    }
    .title32{   
        font-size: 3.67vw;
        padding-left: 30%;
        padding-top:14vw;
    }
    
    
    /*Page 4 Start*/
    
    .Page4{
        border-color: black;
        background-color: black;
        background-image: url("PinkWallpaper.png");
        background-position: 0%;
        background-origin:border-box ;
        background-position-x: center ;
        background-repeat: no-repeat;
        background-size: 0px;
        height:160vw;
        background-position: top;
    
    }
    
    .skills4,.title4,.title42{
        color:white;
    }
    
    .title4{
        display:inline-block;
        padding-left:40%;
        font-size:4.2vw;
        padding-top: 13%;
        padding-bottom:4vw;
    }
    
    .skills4{
        padding-left: 7%;
        font-size: 2vw;
        line-height: 190%;
        font-weight: 500;
        padding-bottom:4vw;
    }
    
    .line4{
        display:inline-block;
        min-width: 40%;
    }
    
    .whiteLine{
        margin-top: 3%;
        display: inline-block;
        width: 43.478vw;
        height: 8px;
        background: #D9D9D9;
        border:50px;
        border-color: #D9D9D9;
        border-radius: 3px;
        position: absolute;
    }
    
    .Line1,.Line2,.Line3,.Line4,.Line5,.Line6,.Line7,.Line8,.Line9,.Line10,.Line11{
        display: inline-block;
        margin-top: 1%;
        margin-top: 3%;
        width: 30px;
        height: 8px;
        background:#ED007F;
        border:50px;
        border-radius: 3px;
        position: absolute;
    }
    
    .Line1 {
        width: 43.478vw;
    }
    
    .Line2 {
        width: 42.391vw;
    }
    
    .Line3 {
        width: 39.130vw;
    }
    
    .Line4 {
        width: 40.217vw;
    }
    
    .Line5 {
        width: 34.783vw;
    }
    
    .Line6 {
        width: 32.609vw;
    }
    
    .Line7 {
        width: 28.261vw;
    }
    
    .Line8 {
        width: 36.957vw;
    }
    
    .Line9 {
        width: 32.609vw;
    }
    
    .Line10 {
        width: 36.957vw;
    }
    
    .Line11 {
        width: 36.957vw;
    }

    
    .title42{
        display:inline-block;
        padding-left:6%;
        font-size:3.5vw;
        padding-top: 5%;
    }
    
     .circleCpp, .circlePython, .circleJava, .circleCppOver, .circlePythonOver, .circleJavaOver {
    width: 10.87vw;
    height: 10.87vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 1.086vw;
    border-color: #ED007F;
    border-top-color: transparent;
    transform: rotate(-45deg);
    position: absolute;
}

.circleMid {
    width: 10.87vw;
    height: 10.87vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 1.086vw;
    border-color: #610034;
    border-top-color: transparent;
    transform: rotate(45deg);
    position: absolute;
}

    
    
    .circleCppOver{
        transform:rotate(35deg);
    }
    
    .circlePythonOver{
        transform:rotate(15deg);
    }
    
    .circleJavaOver{
        transform:rotate(-10deg);
    }
    
   .cppLogo, .pythonLogo, .javaLogo {
        display: inline-block;
        margin-top: 3.043vw;
        margin-left: 2.5vw;
        width: 7.2vw;
    }
    
    .pythonLogo {
        width: 6vw;
        margin-top: 3.5vw;
        margin-left: 3.3vw;
    }
    
    .javaLogo {
        width: 9vw;
        margin-top: 2.2vw;
        margin-left: 2.174vw;
    }
    
    .cpp, .python, .java {
        display: inline-block;
        width: 0;
        margin-top: 5vw;
        margin-left: 6.522vw;
    }

   
    
    .cpp{
        margin-left: 14%;
    }
    
    .python{
        margin-left: 32%;
    }
    
    .java{
        margin-left: 50%;
    }
    
    /*Starting page 5*/
    
    .heading5,.heading52{
        margin-bottom:11vw;
        font-size: 3.67vw;
        margin-left: 15%;
        font-weight: 900;
    }

    .left5,.right5{
        margin-top: 10vw;
        display:inline-block;
    }
    
    .left5{
        margin-right:0vw;
        margin-left:0%;
    }
    
    .heading52{
        font-size: 4vw;
        margin-left: 12vw;
        font-weight: 900;
    }
    
    .right5{
        margin-left: 4vw;
        float: right;
    }

    .topBox5{
        display:inline-block;
        margin-top: 6%;
    }
    
    .applications5,.interests5{
        font-size: 2.2vw;
        line-height: 350%;
        font-weight: 700;
        margin-left: 8vw;
        width: 28vw;
        padding-left:4vw;
    }

    .interests5{
        margin-left: 11vw;
        width:35vw;
    }
    
   .verticleLineBlack5 {
    margin-left: 6.2vw; 
    padding-top: 18vw;
    margin-top: 25.217vw;
    border-width: 1px; 
    height: 58.26vw;
    width: 0;
    color: black;
    position: absolute;
    border-style: solid;
    display: inline-block;
    }

    .verticleLinePink5 {
        margin-left: 5.95vw; 
        padding-top: 10.87vw;
        margin-top: 39.13vw; 
        border-width: 2px; 
        height: 4.348vw; 
        width: 0;
        color: #b40060;
        border-style: solid;
        display: inline-block;
        position: absolute;
    }

    .heading53{
        display:inline-block;
        padding-left: 6vw;
        font-size: 3.5vw;
        padding-top: 90px;

    }
    
      .circleEnglish, .circleUrdu, .circlePunjabi, .circleEnglishOver, .circleUrduOver, .circlePunjabiOver {
        width: 10.87vw;
        height: 10.87vw;
        border-radius: 50%;
        border-style: solid;
        border-width: 1.086vw;
        border-color: #000000;
        border-top-color: transparent;
        transform: rotate(-45deg);
        position: absolute;
    }
    
    .circleMid5 {
        width: 10.87vw;
        height: 10.87vw;
        border-radius: 50%;
        border-style: solid;
        border-width: 1.086vw;
        border-color: #ED007F;
        border-top-color: transparent;
        transform: rotate(45deg);
        position: absolute;
    }
    
        
    .circleUrduOver{
        transform:rotate(35deg);
    }
    
    .circleEnglishOver{
        transform:rotate(15deg);
    }
    
    .circlePunjabiOver{
        transform:rotate(-10deg);
    }
    
    .englishText, .urduText, .punjabiText {
    display: inline-block;
    font-weight: 900;
    margin-top: 4.783vw;
    margin-left: 4vw;
    width: 10.87vw;
    color: #5e0032;
    font-size: 2.174vw;
    }
    
    .englishText {
        margin-left: 3vw;
    }
    
    .punjabiText {
        margin-left: 3vw;
    }
    
    .Urdu, .English, .Punjabi {
        margin-top: 2.174vw;
        display: inline-block;
        width: 0.761vw;
        margin-left: 4.348vw;
    }

    
    .Urdu{
        margin-left: 4vw;
    }
    
    .English{
        margin-left: 14vw;
    }
    
    .Punjabi{
        margin-left: 14vw;
    }

    .Page5{
        border-color: rgb(255, 255, 255);
        background-color: white;
        height: 160vw;
        background-image: none;
        background-position: 0%;
        background-origin:border-box ;
        background-position-x: center ;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
    }

    /*footerbox*/
    .FooterBox{
        padding-top: 5vw;
        border-color: #0E0E0E;
        background-color: rgb(14, 14, 14);
        height: 120vw;

    }
    
    .logoPart6{
        display:flex;
        margin-left: 0px;
        align-items: center;
    }
    
    .whiteLogo6{
        margin-top: 1%;
        width:8vw;
        display: inline-block;
    }
    
    .BTed6{
        margin-top: 6.25vw;
        margin-right: 1vw;
        margin-left: 1.5vw;
        color: #ED007F;
        display:inline-block;
        font-size: 5vw;
        font-weight: 900;
    }
    
    .whiteR6{
        margin-top: 4.25vw;
        width: 2vw;
    }
    
    .text6{
        font-size: 2.3vw;
        width: 39.4vw;
        margin-left: 1.75vw;
        text-align: justify;
        color: white;
        line-height: 2;
    }
    
    .leftBox6{
        margin-left: 3.75vw;
        float: left;
    }
    
    .MailLogo,.phone1Logo,.phone2Logo,.locationLogo,.earthLogo{
        width: 5vw;
    }
    
    .email6,.no6,.no62,.loc6,.site6{
        color:white;
        height: 3vw;
        font-size: 2vw;
        margin-left:0vw;
    }
    
    
    
    .Mail,.phone1,.phone2,.location,.earth{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        margin-top: 3vw;
        gap: 4vw;
    }
    
     .Mail{
        margin-top: 8vw;
    }
    
    .contactMe6{
        margin-top: 7.5vw;
        color: white;
        font-size: 4.25vw;
    }

    .middleBox6{
        margin-left: 8%;
        display:inline-block;
        width: 38.75vw;
        align-items: center;
    }
    
    .rightBox6{
        display:inline-block;
       /* position: relative;*/
        margin-top: 0.5vw;
        max-width: 100vw;
        margin-left: -93vw;
    }
    
    
    .sendLogo6,.globeLogo6{
        display:inline-block;
        position: relative;
        margin-top: 11.3vw;
        width: 9vw;
    }
    
    .sendLogo6{
        width:8vw;
        margin-left: 8vw;
    }
    
    .feedbackText6,.globeText6{
        display: inline-block;
        color: white;
        font-size: 4vw;
        position: absolute;
        padding-left: 2vw;
        margin-top: 12vw;
    }
    
    .feedbackText6{
        padding-left: 1vw;
    }
    
    .pinkButton6,.pinkButton62{
        margin-top: 4vw;
        margin-left: 17vw;
    }

    .feedbackBox6,.joinCommunitykBox6{
        margin-top: 75vw;
       /* display: inline-block;*/
        position:absolute;
        width: 44vw;
    }
    
    .joinCommunitykBox6{
        margin-left:53vw;
    }

    .rights6{
        font-size: 2vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-left: 30vw;
        font-weight: 500;
    }

}

@media screen and (min-width: 413px ) and (max-width: 415px) {
    
       .alnoorText3,.PGCText3,.airText3,.right3{
        letter-spacing:-1px;
    }
    h1,h3{
        letter-spacing:-1px;
    }
}