body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(0, 0, 51), black);
    color: white;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

pre {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

button {
    background-color: #b40060;
    color: white;
    margin: 0px;
    padding-left: 2.9vw;
    padding-right: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    border-width: 0.2vw;
    font-size: 0.9vw;
    border-radius: 1000px 0px;
    border-color: #b40060;
    border-style: solid;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: transparent;
    color: #b40060;
    transform: scale(1.1);
}
